<% content_for :title, "Editing event" %>

<h1>Editing event</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to 'Back', events_path, class: 'btn btn-secondary' %>
  <%= link_to 'Show', event_path(@event), class: 'btn btn-info' %>
</div>
