<% content_for :title, "New event" %>

<h1>New event</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= button_to "Show all events", events_path, method: :get, class: "btn btn-primary btn-sm"  %>
</div>
