<h1>Homes#welcome</h1>

<div>
  <h2>Edit profile</h2>
  <%= button_to "Edit Profile", edit_user_registration_path, method: :get  %>
</div>

<div>
  <h2>Show events</h2>
  <%= button_to "Show all events", events_path, method: :get  %>
</div>

<div>
  <h2>Events I am registered</h2>
  <%= button_to "Show events", events_path, method: :get, params: { user_id: current_user.id }  %>
</div>

<div>
  <% if current_user.admin? %>
    <h2>create events</h2>
    <%= button_to "Create events", new_event_path, method: :get  %>
  <% end %>
</div>
