<h1>Welcome <%= @user.name %></h1>
<p>
  Don't forget to attend the event:
  <br> <%= @event.name %>.<br>
  that will take place on:
  <br> <%= @event.date %>.<br>
</p>
<p>Thanks and have a great day!</p>
